<template>
  <footer class="mt-5m b-5">
      <hr>
      <div class="container">
          <div class="row">
              <div class="col text-center">
                  2020 copyright KelompokPWL
              </div>              
          </div>
      </div>
  </footer>
</template>

<script>
export default {
    name:'Footer'
}
</script>

<style>

</style>