<template>
  <div class="hero">
    <!-- Desktop -->
    <div class="d-none d-md-block">
      <div class="row mt-4">
        <div class="col md-6">
          <h2>
            <strong>Delicious Food Menu,</strong> <br />
            In Your Gadget
          </h2>
          <p>come on choose your favorite food!</p>
          <router-link class="btn btn-lg btn-success" to="/foods">
            <b-icon icon="arrow-right"></b-icon>Order
          </router-link>
        </div>
        <div class="col-md-6">
          <img src="../assets/images/Hero.svg" width="100%" alt="Hero" />
        </div>
      </div>
    </div>

    <!-- Mobile -->
    <div class="d-sm-block d-md-none">
      <div class="row mt-4">
        <div class="col-md-6 mb-3">
          <img src="../assets/images/Hero.svg" width="100%" alt="Hero" />
        </div>
        <div class="col md-6">
          <h2>
            <strong>Delicious Food Menu,</strong> <br />
            In Your Gadget
          </h2>
          <p>come on choose your favorite food!</p>
          <button class="btn btn-lg btn-success">
            <b-icon icon="arrow-right"></b-icon>Order
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Hero",
};
</script>

<style>
</style>