<template>
  <div class="pesanan-sukses">
    <Navbar />
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col text-center">
                <img src="/images/menunggu.png" width="300" alt="">
                <h2><Strong>Sukses!!</Strong></h2>
                <h4>Pesanan Anda Segera Diproses <br> Mohon Tunggu Sebentar ya..</h4>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
export default {
  name: "PesananSukses",
  components: { Navbar },
};
</script>

<style>
</style>